* {
	font-family: "Bellota", cursive;
}

.container {
	width: 100%;
	height: 100%;
	background-color: white;
}

.feedback-panel {
	background-color: #f0f0f0;
	position: relative;
	top: 15%;
	width: 100%;
}

.feedback-list {
	width: 80vw;
	height: 60%;
	position: relative;
	overflow: scroll;
}

.feedback-item {
	position: relative;
	width: 80%;
	border: 3px dashed #484349;
	background-color: #ffff;
	border-radius: 8px;
	margin-top: 1.5vw;
	margin-left: 5%;
}

.title {
	font-family: "Pacifico", cursive;
	font-size: 2.5vw;
	position: relative;
	text-align: center;
	width: 100%;
	top: 12%;
}

.back-img {
	border-radius: 20px;
	position: relative;
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	top: 2%;
	margin-left: 2%;
	font-size: 2vw;
	text-decoration: none;
	color: black;
}

.back-img:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.feedback-write {
	position: absolute;
	border: 1px solid black;
	width: 20%;
	height: 48%;
	float: right;
	top: 12vw;
	right: 3vw;
	background-color: white;
	border-radius: 5px;
}

form {
	position: relative;
	width: 100%;
	height: 40vh;
}

.button-fdb {
	background-color: #ffff;
	border: none;
	font-size: 1.1vw;
	display: block;
}

.button-write {
	border: 1px solid black;
	border-radius: 20px;
	position: relative;
	text-align: center;
	top: 5%;
	margin: 0 auto;
	width: 45%;
	text-decoration: none;
	color: black;
}

.button-write:hover {
	color: white;
	background-color: #484349;
	cursor: pointer;
}

.feedback-write-off {
	display: none;
}

.text-fdb {
	width: 80%;
	height: 60%;
	margin-left: 10%;
	top: 1%;
	resize: none;
	position: relative;
	text-decoration: none;
	color: black;
	border-radius: 5px;
}

.title-text {
	text-align: center;
	position: relative;
	top: 2%;
	height: 9%;
}

.title-name {
	text-align: center;
	position: relative;
	height: 11%;
	top: 3%;
}

.input-fdb.name {
	position: relative;
	width: 80%;
	height: 10%;
	margin-left: 10%;
	text-decoration: none;
	color: black;
	border-radius: 5px;
}

.feedback-button {
	border-radius: 20px;
	width: 13vw;
	font-size: 1.5vw;
	text-align: center;
	position: absolute;
	right: 6.5vw;
	top: 8.5vw;
}

.please-registration {
	width: 20vw;
	font-size: 1.1vw;
	text-align: center;
	position: absolute;
	right: 6.5vw;
	top: 8vw;
}

.feedback-button:hover {
	color: white;
	background-color: #484349;
	cursor: pointer;
}

.rating_block {
	position: relative;
	top: 1%;
	height: 10%;
	margin: 0 auto;
	width: 125px;
	height: 25px;
}

.rating_block .input-fdb[type="radio"] {
	display: none;
}

.label_rating {
	float: right;
	display: block;
	width: 25px;
	height: 25px;
	background: url(https://simplamarket.com/files/uploads/rating.png) no-repeat 50% 0;
	cursor: pointer;
}

.rating_block .label_rating:hover,
/*Правило для ховера на текущий лейбл*/
.rating_block .label_rating:hover~.label_rating,
/*Правило для всех следующих лейблов по DOM дереву*/
.rating_block .input-fdb[type="radio"]:checked~.label_rating

/*Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались*/
	{
	background-position: 50% -25px;
}

.error {
	border-color: red;
	border: 1px solid red;
}

.uname {
	width: 13vw;
	font-size: 1.5vw;
	position: absolute;
	height: 100%;
	text-align: center;
	margin-top: 1vw;
}

.user-text {
	background-color: #f0f0f0;
	width: 90%;
	position: relative;
	margin: 3%;
}

.user-mack {
	position: relative;
	display: inline;
	left: 8%;
}

.user-text-border {
	border: 1px solid #f0f0f0;
	background-color: #f0f0f0;
	border-radius: 5px;
	width: 67%;
	left: 30%;
	margin-top: 2%;
	margin-bottom: 1%;
	position: relative;
}

.triangle {
	position: absolute;
	width: 0px;
	left: 28.3%;
	top: 25%;
	height: 0px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 1.3vw solid #f0f0f0;
}

.user-data {
	width: 10vw;
	position: absolute;
	left: 83%;
	bottom: 0px;
}

.arrow {
	position: absolute;
	z-index: 10;
	width: 3vw;
	right: 8vw;
	transform: rotate(310deg);
}

.button-next {
	width: 10vw;
	height: 2vw;
	position: absolute;
	top: 13vw;
	left: 69vw;
	text-align: center;
}

.next {
	border-radius: 20px;
	margin-top: 5%;
}

.next:hover {
	background-color: #484349;
	color: white;
	cursor: pointer;
}

.allMack {
	display: inline-flex;
	justify-content: space-between;
	position: absolute;
	left: 15%;
	width: 50%;
	top: 3%;
}

.sort-panel {
	display: inline-flex;
	justify-content: space-between;
	vertical-align: middle;
	left: 15%;
	width: 40%;
	top: 3%;
	height: 100%;
}

.sort {
	display: inline-block;
	border-radius: 20px;
	font-size: 0.8vw;
	text-align: center;
	color: #484349;
}

.sort:hover {
	background-color: #484349;
	color: #f0f0f0;
	cursor: pointer;
}

.mack-panel {
	display: inline-flex;
	margin-top: 0.5%;
	position: relative;
}

.star {
	width: 1.2vw;
	height: 1.2vw;
}