.container-login {
	position: absolute;
	top: 10%;
	margin-left: 5%;
	width: 90%;
	height: 80%;
	background-color: #f0f0f0;
}

.banner-img {
	width: 60%;
	float: right;
	margin: 5%;
	position: relative;
}

.auth-login {
	display: flex;
	height: 90%;
}

.auth_form-login {
	width: 50%;
}

.form-item-login {
	width: 100%;
}

.form-login {
	width: 100%;
	margin-left: 10%;
	margin-top: 5%;
	height: 90%;
}

.inp-login {
	width: 90%;
	height: 2.5vw;
	margin-bottom: 10%;
	border-radius: 10px;
	font-family: "Bellota", cursive;
	font-size: 1vw;
	opacity: 1;
}

.inp-login.error-login {
	border-color: red;
}

.span-login {
	font-family: "Bellota", cursive;
	font-size: 1.5vw;
	opacity: 1;
}

.ui-title-2 {
	font-family: "Bellota", cursive;
	font-size: 1.5vw;
	opacity: 1;
}

.error-login {
	font-family: "Bellota", cursive;
	font-size: 1.2vw;
	opacity: 1;
}

.link-login {
	text-decoration: none;
	color: black;
	border-radius: 20px;
	width: 8vw;
	text-align: center;
}

.ui-title-2 {
	font-size: 3vw;
	position: relative;
	left: 40%;
	font-weight: 900;
}

.link-login:hover {
	color: white;
	background-color: #484349;
}

.form-item-login .error-login {
	display: none;
}

.form-item-login.errorInput .error-login {
	display: block;
	color: red;
}

.button-list-login {
	position: absolute;
	left: 5vw;
	bottom: 1.5vw;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.button-login {
	background-color: #f0f0f0;
	padding: 0;
	border: none;
	border-radius: 20px;
	width: 7vw;
}

.button-login:hover {
	color: white;
	background-color: #484349;
	cursor: pointer;
}

.button-info-login {
	width: 30vw;
	position: absolute;
	bottom: 7vw;
	font-weight: 700;
	left: 3.5vw;
	text-align: center;
}

.status {
	font-size: 1.2vw;
}