.main {
	height: 125vw;
	width: 100%;
}

.title-main {
	font-family: "Pacifico", cursive;
	font-size: 2.3vw;
	position: relative;
	text-align: center;
	width: 100%;
	top: 9%;
}

.container-main {
	background-color: #f0f0f0;
	position: relative;
	top: 15%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}